.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  border-radius: 1rem;
  background-color: rgb(120, 120, 216);
}

.content--size {
  width:calc(100vw - 1rem);
  height: calc(100vh - 1rem)
}

.content__search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.search {
  border: .1rem solid black;
  border-radius: .7rem;
  font-size:xx-large;
}

.search--size {
  width: 500px;
  height: 40px;
}

